.expert-card {
    display: flex;
    justify-content: flex-start;
    gap: 8px;

    padding: 16px;
    height: auto;

    background-color: #fff;
    border-radius: 8px;
    border: solid 1px #98A2B3;
}

.expert-card-avatar {
    border-radius: 8px;

    width: 48px;
    height: 48px;
}

.expert-card-data {
    height: 100%;
}

.expert-card-fio:hover {
    cursor: pointer;
}

.expert-card-horizontal {
    display: flex;
    gap: 8px;
}