.card-project-home {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 4px 0;

    border: solid 2px #6D9AC3;
    border-radius: 10px;

    padding: 8px;
    height: auto;
    min-height: 64px;
}

.card-project-left-block {
    display: flex;
    align-items: center;
    max-width: 50%;
}

.card-project-data {
    flex-wrap: wrap;
}

.card-project-text {
    margin: 4px 0;
}

.card-project-photo {
    width: 48px;
    height: 48px;
    margin-right: 8px;
    
    border-radius: 10px;
    background-color: grey;
}

.card-project-rating {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;
    padding: 0 12px;

    border-radius: 10px;
    background-color: #fff;
}