.project-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border: solid 2px #6D9AC3;
    border-radius: 10px;
    
    margin: 4px 0;
    padding: 8px;
    height: auto;
    min-height: 64px;
}

.project-card-left-block {
    display: flex;
    align-items: center;
}

.project-card-data {
    flex-wrap: wrap;
    max-width: 250px;
}

.project-card-text {
    margin: 4px 0;
}

.project-card-text_title {
    font-size: 16px;
    font-weight: 500px;
}

.project-card-text_title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.project-card-text_description {
    font-size: 12px;
}

.project-card-logo {
    width: 48px;
    height: 48px;
    margin-right: 8px;
    
    border-radius: 8px;
    background-color: grey;
}

.project-card-rating {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 96px;
    height: 48px;
    padding: 0 12px;

    border-radius: 10px;
    background-color: #fff;
}