.teams {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.teams-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.teams-team-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 4px 0;

    border: solid 1px #98A2B3;
    border-radius: 10px;

    padding: 8px;
    height: auto;
    min-height: 64px;

    background-color: #fff;
}

.teams-btns {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}