.card {
    background-color: #fff;
    border-radius: 8px;
    border: solid 1px #98A2B3;
    padding: 16px;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_without_frame {
    border: none;
}