.vacancy-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 4px 0;

    border: solid 1px #98A2B3;
    border-radius: 10px;

    padding: 8px;
    height: auto;
    min-height: 64px;

    background-color: #fff;
}

.vacancy-card-left-block {
    display: flex;
    align-items: center;
}

.vacancy-card-data {
    flex-wrap: wrap;
    width: 800px;
}

.vacancy-card-text {
    margin: 4px 0;
    flex-wrap: wrap;
}

.vacancy-card-text_title {
    font-size: 16px;
}

.vacancy-card-text_title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.vacancy-card-text_description {
    font-size: 12px;
}

.vacancy-card-logo {
    width: 48px;
    height: 48px;
    margin-right: 8px;
    
    border-radius: 10px;
    background-color: grey;
}

.vacancy-card-apply-btn_applied {
    background-color: red;
}

.vacancy-card-apply-btn_applied:hover {
    background-color: rgb(194, 19, 19)
}