.card-vacancy-home {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 4px 0;

    border: solid 2px #6D9AC3;
    border-radius: 10px;

    padding: 8px;
    height: auto;
    min-height: 64px;
}

.card-vacancy-left-block {
    display: flex;
    align-items: center;
    max-width: 50%;
}

.card-project-data {
    flex-wrap: wrap;
}

.card-vacancy-text {
    margin: 4px 0;
    flex-wrap: wrap;
}

.card-vacancy-photo {
    width: 48px;
    height: 48px;
    margin-right: 8px;
    
    border-radius: 10px;
    background-color: grey;
}