.project-create-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project-create-input {
    height: 24px;
}

.project-create-blocks {
    display: flex;
    flex-direction: column;
    gap: 12px;
}