.all-projects-container {

}

.all-projects-data {
    display: flex;
    justify-content: space-around;
}

.project-hidden {
    display: none;
}

.projects-page-options {
    display: flex;
    justify-content: space-around;
 
}

.projects-page-list {
   width: 70%;
 
}