.experts-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
}

.experts-options {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.experts-search {
    width: 100%;
    margin-bottom: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.experts-search-input {
    width: 100%;
}

.experts-show-more-btn {
    margin-top: 16px;
}

.experts-filtration {
    width: 25%;
}

.experts-expert_hidden {
    display: none;
}