.cards-title-home {
    display: flex;
    justify-content: space-around;
}

.card-title-home {
    background-color: #D0D5DD;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 100px;
}

.card-title-home-text {
    margin: 4px 0;
}